<div class="forgot-password-wrapper">
    <form class="forgot-password-form" (ngSubmit)="resetPassword()" [formGroup]="forgotForm">
        <h2 class="form-title">Forgot Password</h2>

        <!-- Email -->
        <div class="div-form">
            <div class="form-group">
                <input id="email" type="email" formControlName="email" placeholder="Email" />
            </div>
        </div>

        <!-- OTP -->
   <div class="div-form">
    <div class="row g-1">
        <div class="form-group otp-group col-9">
            <input id="otp" type="text" formControlName="otp" placeholder="Enter OTP" />
        </div>
        <div class="col-3">
            <button type="button" class="send-otp" (click)="sendOtp()" [disabled]="loading || countdown > 0">
                {{ countdown > 0 ? countdown + 's' : 'OTP' }}
            </button>
        </div>
    </div>
</div>


        <!-- Password -->
        <div class="div-form">
            <div class="form-group password-wrappers">
                <div class="form-group password-wrapper"
                    [ngClass]="{ 'has-error': forgotForm.get('password')?.touched && forgotForm.get('password')?.invalid }">
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" 
                        placeholder="Password" (focus)="passwordFocused = true" (blur)="passwordFocused = false" />
                    <span class="btn-show-pass" *ngIf="passwordFocused || forgotForm.get('password')?.value"
                        (click)="togglePasswordVisibility()">
                        <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
                    </span>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <button type="submit">Reset Password</button>
    </form>
</div>