<div class="flex justify-center items-center p-6 px-6">
    <form [formGroup]="forgotForm" (ngSubmit)="resetPassword()"
        class="bg-white py-4 rounded-xl w-full max-w-[400px]">
        <!-- Title -->
        <h2 class="mb-6 text-center font-bold text-2xl text-blue-600">
            FORGOT PASSWORD
        </h2>

        <!-- Email -->
        <div class="mb-4">
            <input id="email" type="email" formControlName="email" placeholder="Email"
                class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:border-blue-600 focus:outline-none transition" />
        </div>

        <!-- OTP -->
        <div class="flex gap-2 mb-4">
            <input id="otp" type="text" formControlName="otp" placeholder="Enter OTP"
                class="flex-1 px-4 py-3 border border-gray-300 rounded-lg focus:border-blue-600 focus:outline-none transition" />
            <button type="button" (click)="sendOtp()" [disabled]="loading || countdown > 0"
                class="w-24 px-3 py-3 rounded-lg bg-blue-600 text-white font-semibold hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed transition">
                {{ countdown > 0 ? countdown + 's' : 'OTP' }}
            </button>
        </div>

        <!-- Password -->
        <div class="relative mb-6">
            <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                placeholder="Password"
                class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:border-blue-600 focus:outline-none transition pr-10"
                (focus)="passwordFocused = true" (blur)="passwordFocused = false" />
            <span *ngIf="passwordFocused || forgotForm.get('password')?.value" (click)="togglePasswordVisibility()"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 cursor-pointer hover:text-blue-600">
                <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
            </span>
        </div>

        <!-- Submit -->
        <button type="submit"
            [disabled]="forgotForm.invalid"
            class="w-full py-3 bg-blue-600 text-white font-bold rounded-lg mt-3 transition hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed">
            Reset Password
        </button>
        <div class="mt-4 text-right text-sm">
            <p>
                Back to login?
                <a (click)="openLogin()" class="text-blue-600 hover:underline cursor-pointer">Login</a>
            </p>
        </div>
    </form>

</div>