<app-header></app-header>

<div class="container mx-auto py-8 px-8" *ngIf="product as p">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
    <!-- Ảnh sản phẩm -->
    <div class="lg:col-span-5 flex flex-col items-center rounded-lg shadow p-5 space-y-6">
      <div class="border rounded-lg shadow overflow-hidden">
        <img [src]="p.imageUrls?.[currentImage]" alt="Product image" class="max-w-full h-[350px] object-cover" />
      </div>

      <!-- Thumbnail nhỏ -->
      <div *ngIf="(p.imageUrls?.length ?? 0) > 1" class="flex gap-3 mt-4 rounded-lg overflow-x-auto">
        <img *ngFor="let img of p.imageUrls; let i = index" [src]="img" (click)="currentImage = i"
          class="w-16 h-16 object-cover rounded-md border cursor-pointer hover:border-blue-400"
          [class.border-blue-500]="i === currentImage" />
      </div>
    </div>

    <!-- Thông tin sản phẩm -->
    <div class="lg:col-span-7 bg-white rounded-lg shadow p-6 space-y-6">
      <!-- Tên + Badge -->
      <div class="flex items-center gap-4">
        <h1 class="text-2xl font-bold text-gray-800 flex-1">
          {{ p.name }}
        </h1>

        <span class="px-3 py-1 text-xs font-bold rounded-full" [ngClass]="{
    'bg-blue-600 text-gray-100': p.stock > 0,
    'bg-red-600 text-white': p.stock === 0
  }">
          {{ p.stock > 0 ? 'IN STOCK' : 'OUT OF STOCK' }}
        </span>

      </div>



      <!-- Giá -->
      <div class="flex items-baseline gap-3">
        <span class="text-3xl font-bold text-blue-500">
          {{ p.price |vnd }}
        </span>
      </div>


      <!-- Số lượng -->
      <div class="flex items-center">
        <!-- Nút trừ -->
        <button
          class="w-10 h-10 flex items-center justify-center rounded-md border bg-blue-200 text-lg font-bold hover:bg-gray-100 shadow-sm"
          (click)="decreaseQty()">
          –
        </button>

        <!-- Ô số -->
        <input type="number" [(ngModel)]="quantity" (keydown)="$event.preventDefault()"
          class="w-16 h-10 mx-3 text-center border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />

        <!-- Nút cộng -->
        <button
          class="w-10 h-10 flex items-center justify-center rounded-md border bg-blue-200 text-lg font-bold hover:bg-gray-100 shadow-sm"
          (click)="increaseQty()">
          +
        </button>
      </div>






      <!-- Action button -->
      <div class="flex gap-4 pt-4">
        <button class="flex-1 py-3 rounded-md font-bold bg-blue-100 text-black hover:bg-blue-300 shadow">
          Buy Now
        </button>
        <button (click)="addToCart()"
          class="flex-1 py-3 rounded-md font-bold bg-blue-500 text-white hover:bg-blue-700 shadow">
          Add to Cart
        </button>
      </div>
      <div>
        <label class="block text-sm font-semibold mb-2">Description</label>
        <p class="text-sm text-gray-500 mb-2 h-10 overflow-hidden text-ellipsis">
          {{ product.description }}
        </p>
      </div>

    </div>
  </div>
</div>